/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'LucidaBright-Demi';
    src: url('original_LBRITED.eot?#iefix') format('embedded-opentype'), 
         url('original_LBRITED.woff') format('woff'),
         url('original_LBRITED.ttf') format('truetype'),
         url('original_LBRITED.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}