@media (min-width: 481px) and (max-width: 768px) {
    /*header*/
    .home {
        cursor: pointer;
    }

    .logo {
        list-style: none;
    }

    .navbar-toggle {
        margin-top: 8px;
        margin-right: 25px;
        padding: 10px 10px;
    }

    h1 {
        text-align: center;
        margin-top: 3px;
    }

    .navbar-default .navbar-toggle {
        border-color: #FF9000;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FF9000;
    }

    .msg {
        display: none;
    }
    .send {
        margin: 0 auto;
        width: 17%;
    }
    /*end header*/
    /*session one*/
    #presentation img {
        display: none;
    }

    .bottomContact {
        margin: 6% auto;
        width: 48%;
    }

    .body {
        padding: 4% 1% 1% 0%;
        height: 220px;
        min-height: 220px;
        max-height: 220px;
    }

    /*end session one*/
    /*end session consult*/
    .pack {
        margin-bottom: 11%;
        margin-top: 8%;
        padding: 4% 4% 0 4%;
    }

    .packPremium .body {
        padding: 4% 1% 1% 0%;
        height: 230px;
        min-height: 265px;
        max-height: 280px;
    }
    .surgeryPack {
        margin-bottom: 10%;
    }
    /*end session consult*/
    /*session contact*/

    .youtube:hover {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        font-size: 1.2em;
    }

    .facebook:hover {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
        font-size: 1.2em;
    }
    .twitter:hover {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
        font-size: 1.2em;
    }
    .social li:nth-child(even) {
        margin: 3% 3% 3% 3%;
    }

    .social li:nth-child(odd) {
        margin: 3% 0% 3% 0%;
    }

    .social li {
        padding: 19px;
    }

    .send {
        width: 26%;
        margin: 0 auto;
    }
    footer table {
        margin: 0 auto;
    }
    footer ul {
        width: 50%;
        margin: 0 auto;
    }


    /*end session contact*/
}